html{
background-image: url(a.jpg);
}
#container{
    width: 550px;
    height: 550px;
    border: 0;
   background-color: #ADD8E6;
    margin: 180px AUTO;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 0px blue;
    -webkitbox-shadow: 0 4px 0px blue;
    -moz-box-shadow: 0 4px 0px blue;
    position: relative;
}
#score{
    background-color: #F1FF92;
     width: 65px;
    height: 20px;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 4px yellow;
    -webkit-box-shadow: 0 4px yellow;
    -moz-box-shadow: 0 4px yellow;
    color: #888E5F;
    position: absolute;
    left: 500px;
    font-size:17px;
    font-weight: bold;
} 
#correct{
    position: absolute;
    left: 250px;
    background-color: lightgreen;
    color: white;
    padding: 15px;
    box-shadow: 0 4px green;
    -webkit-box-shadow: 0 4px green;
    -moz-box-shadow: 0 4px green;
    display: none;
}
#wrong{
     position: absolute;
    left: 250px;
    background-color: lightcoral;
    color: white;
    padding: 15px;
    box-shadow: 0 4px red; 
    -weblit-box-shadow: 0 4px red; 
    -moz-box-shadow: 0 4px red; 
    display: none;
}
#question{
    background-color: #ADFF2F;
    width: 450px;
    height: 150px;
    margin: 58px auto 10px auto;
    box-shadow: 0px 4px #555DAA;
    -webkit-box-shadow: 0px 4px #555DAA;
    -moz-box-shadow: 0px 4px #555DAA;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
}
#instruction{ 
    background-color: 	#FF7F50;
    width: 450px;
    height: 50px;
    margin: 18px auto;
    font-size: 20px;
    text-align: center;
    color: white;
   line-height: 45px;
    box-shadow: 0px 4px purple;
    -webkit-box-shadow: 0px 4px purple;
    -mozbox-shadow: 0px 4px purple;
}
#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
    border: 1px solid lightblue;
}
#li{
    position:fixed; bottom :0pt; right: 0pt;
    font-size:30px;
    font-color:white;
}

.box{
    height: 85px;
    width: 85px;
    background-color: white;
    text-align: center;
    float: left;
    margin-right: 36px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px rgba(0,0,0,0.2);
    line-height: 80px;
    font-size: 20px;
     position: relative;

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
.box:hover, #startReset:hover{
    background-color: #9CA4EE;
    color:white;
    font-size: 23px;
    box-shadow: 0 4px purple;
    -webkit-box-shadow: 0 4px purple;
    -moz-box-shadow: 0 4px purple;
}

#box4{
   margin-right: 0;
}
.box:active,#startReset:active{
    background-color: #9CA4EE;
    color:white;
    box-shadow: 0px 0px purple;
    -webkit-box-shadow: 0px 0px purple;
    -moz-box-shadow: 0px 0px purple;
    top: 4px;
 
}


.box:hover, #startReset2:hover{
    background-color: #9CA4EE;
    color:white;
    font-size: 23px;
    box-shadow: 0 4px purple;
    -webkit-box-shadow: 0 4px purple;
    -moz-box-shadow: 0 4px purple;
}

#box4{
   margin-right: 0;
}
.box:active,#startReset2:active{
    background-color: #9CA4EE;
    color:white;
    box-shadow: 0px 0px purple;
    -webkit-box-shadow: 0px 0px purple;
    -moz-box-shadow: 0px 0px purple;
    top: 4px;
 
}

.box:hover, #startReset3:hover{
    background-color: #9CA4EE;
    color:white;
    font-size: 23px;
    box-shadow: 0 4px purple;
    -webkit-box-shadow: 0 4px purple;
    -moz-box-shadow: 0 4px purple;
}

#box4{
   margin-right: 0;
}
.box:active,#startReset3:active{
    background-color: #9CA4EE;
    color:white;
    box-shadow: 0px 0px purple;
    -webkit-box-shadow: 0px 0px purple;
    -moz-box-shadow: 0px 0px purple;
    top: 4px;
 
}
#startReset{
    height: 40px;
    width: 120px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px rgba(0,0,0,0.2);
    line-height: 40px;
    font-size: 20px;
     position: relative;

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    
}

#startReset2{
    height: 40px;
    width: 120px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px rgba(0,0,0,0.2);
    line-height: 40px;
    font-size: 20px;
     position: relative;

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    
}


#startReset3{
    height: 40px;
    width: 120px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px rgba(0,0,0,0.2);
    line-height: 40px;
    font-size: 20px;
     position: relative;

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    
}


#timeRemaining{
    width: 158px;
    background-color: rgba(181,235,36,0.8) ;
    padding: 10px;
    position: absolute;
    right: 18px;
    bottom: 28px;
    border-radius: 3px;
    display: none;
}

#gameOver{
    height: 200px;
    width: 500px;
    background: linear-gradient(#FCBC6A,#FE7D6C);
    -webkit-background: linear-gradient(#FCBC6A,#FE7D6C);
    -moz-background: linear-gradient(#FCBC6A,#FE7D6C);
    -o-background: linear-gradient(#FCBC6A,#FE7D6C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
}


